{% extends "base.html" %}
{% load static from staticfiles%}
{% block afternav %}

<section class="container-fluid ">
	<section class="row justify-content-center">
		<section class="col-6 col-sm-4 col-md-4">
			<div class="content-section">
				<div class = "border-top pt-3">
					<h5> আপনার একাউন্ট লগাউট হয়েছে </h5>
					<small class="text-muted">
						<a class="ml-2" href="{% url 'login' %}">আবার লগইন করুন </a> 
					</small>
				</div>
			</div>
		</section>
		
	</section>
	
</section>






{% endblock %}











